<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="@assets/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload stylesheet" href="@assets/main.css" as="style">
    <title>{{ title }}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
  {% block body %}
  {% endblock %}
  </body>
  {% block scripts %}
  {% endblock %}
</html>
